.react-datepicker__input-container {
  padding: 0 6px;
}

.react-datepicker__input-container input[type=text] {
  width: 110px;
  padding: 3px 6px;
  text-align: left;
  border: none;
  border-bottom: 1px solid #ccc;
}

.react-datepicker__close-icon::after {
  margin: -9px 4px 0 0;
}