.App {
  text-align: center;
}

//reset bootstrap styles
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.alert {
  margin-bottom: 0;
  border-radius: 0;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}