@import '../../common.scss';

.DashboardCountryDetail-ProfileTitle {
  padding: 0 0 6px;
  font-size: 18px;
}

.DashboardCountryDetail-ProfileInfo {
  font-size: 16px;
}

.DashboardCountryDetail-MeasureTitleCol {
  padding: 6px 0 6px 30px;
  text-align: left;
  line-height: 30px;
}

.DashboardCountryDetail-MeasureValueCol {
  padding: 6px 30px 6px 0;
  text-align: right;
}

.DashboardCountryDetail-ChartButton {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  margin-left: 15px;
}

.DashboardCountryDetail-BackButton {

}

.DashboardCountryDetail-ProfileInfo_notAvailable {
  color: $secondary-color;
  padding-top: 15px;
}

.DashboardCountryDetail-ChartPlaceholder {
  margin: 243px 0;
  text-align: center;
  color: $secondary-color;
}