.DashboardFilter {
  padding: 10px 0;
}

.DashboardFilter .react-datepicker__input-container {
  padding: 0 6px;
}

.DashboardFilter .react-datepicker__input-container input[type=text] {
  width: 90px;
  padding: 3px 6px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #ccc;
}