.DashboardCountryDetail-ProfileTitle {
  padding: 5px 0 10px;
  font-size: 18px; }

.DashboardCountryDetail-ProfileInfo {
  font-size: 16px; }

.DashboardCountryDetail-MeasureInfo {
  padding: 6px 12px; }

.DashboardCountryDetail-MeasureTitle {
  display: inline-block;
  min-width: 250px;
  padding: 0 8px 0 0;
  text-align: left; }

.DashboardCountryDetail-MeasureValue {
  display: inline-block;
  padding: 0 8px 0 0;
  min-width: 120px; }

.DashboardCountryDetail-MeasureChartButton {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px; }
